In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mplt
import numpy as np

In [3]:
data = pd.read_csv('data/properatti.csv')

In [5]:
pd.set_option('display.max_columns',1000000)

In [9]:
data

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,-58.508839,62000.0,USD,1093959.00,62000.0,55.0,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,-57.964330,150000.0,USD,2646675.00,150000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,-58.522982,72000.0,USD,1270404.00,72000.0,55.0,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,-58.516424,95000.0,USD,1676227.50,95000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...
4,4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,-57.549447,64000.0,USD,1129248.00,64000.0,35.0,35.0,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121215,121215,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,NaN,NaN,NaN,870000.0,USD,15350715.00,870000.0,113.0,93.0,7699.115044,9354.838710,NaN,NaN,10000.0,http://www.properati.com.ar/1cja2_venta_depart...,TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecab...,Torre Forum Alcorta- Impecable 3 ambientes,https://thumbs4.properati.com/1/bjms0KnaAnlNoQ...
121216,121216,sell,house,Beccar,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Argentina,Bs.As. G.B.A. Zona Norte,3436080.0,NaN,NaN,NaN,498000.0,USD,8786961.00,498000.0,360.0,360.0,1383.333333,1383.333333,NaN,NaN,NaN,http://www.properati.com.ar/1cja6_venta_casa_b...,Excelente e impecable casa en Venta en Las Lom...,Ruca Inmuebles | Venta | Lomas de San Isidro |...,https://thumbs4.properati.com/2/PCc3WuQDjpNZc4...
121217,121217,sell,apartment,Villa Urquiza,|Argentina|Capital Federal|Villa Urquiza|,Argentina,Capital Federal,3433775.0,"-34.5706388726,-58.4755963355",-34.570639,-58.475596,131500.0,USD,2320251.75,131500.0,46.0,39.0,2858.695652,3371.794872,NaN,NaN,NaN,http://www.properati.com.ar/1cja7_venta_depart...,VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...,VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...,https://thumbs4.properati.com/9/YAe_-2gRVykADP...
121218,121218,sell,apartment,Plaza Colón,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,NaN,NaN,NaN,NaN,95900.0,USD,1692107.55,95900.0,48.0,48.0,1997.916667,1997.916667,NaN,NaN,NaN,http://www.properati.com.ar/1cja8_venta_depart...,"2 Amb al contrafrente, luminoso. El departame...",2 amb. C/ dep. de servicio al contrafrente| Re...,https://thumbs4.properati.com/8/Q12PTvU6BQJ0ib...
121219,121219,sell,apartment,Capital Federal,|Argentina|Capital Federal|,Argentina,Capital Federal,3433955.0,NaN,NaN,NaN,129000.0,USD,2276140.50,129000.0,77.0,77.0,1675.324675,1675.324675,NaN,NaN,3500.0,http://www.properati.com.ar/1cjaa_venta_depart...,Departamento de 77 m2 apto profesional. Edific...,Departamento apto profesional en el Centro,https://thumbs4.properati.com/8/mNEsnQWqB7joBF...

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121220 entries, 0 to 121219
Data columns (total 26 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Unnamed: 0                  121220 non-null  int64
 1   operation                   121220 non-null  object
 2   property_type               121220 non-null  object
 3   place_name                  121197 non-null  object
 4   place_with_parent_names     121220 non-null  object
 5   country_name                121220 non-null  object
 6   state_name                  121220 non-null  object
 7   geonames_id                 102503 non-null  float64
 8   lat-lon                     69670 non-null   object
 9   lat                         69670 non-null   float64
 10  lon                         69670 non-null   float64
 11  price                       100810 non-null  float64
 12  currency                    100809 non-null  object
 13  price_aprox_local_currency  100810 non-null  float64
 14  price_aprox_usd             100810 non-null  float64
 15  surface_total_in_m2         81892 non-null   float64
 16  surface_covered_in_m2       101313 non-null  float64
 17  price_usd_per_m2            68617 non-null   float64
 18  price_per_m2                87658 non-null   float64
 19  floor                       7899 non-null    float64
 20  rooms                       47390 non-null   float64
 21  expenses                    14262 non-null   float64
 22  properati_url               121220 non-null  object
 23  description                 121218 non-null  object
 24  title                       121220 non-null  object
 25  image_thumbnail             118108 non-null  object
dtypes: float64(13), int64(1), object(12)
memory usage: 24.0+ MB

In [15]:
data.columns[data.isna().any()].tolist()

['place_name',
 'geonames_id',
 'lat-lon',
 'lat',
 'lon',
 'price',
 'currency',
 'price_aprox_local_currency',
 'price_aprox_usd',
 'surface_total_in_m2',
 'surface_covered_in_m2',
 'price_usd_per_m2',
 'price_per_m2',
 'floor',
 'rooms',
 'expenses',
 'description',
 'image_thumbnail']

In [18]:
data["currency"].value_counts()

USD    87587
ARS    13219
PEN        2
UYU        1
Name: currency, dtype: int64

In [19]:
subset= data[["price","currency","price_aprox_local_currency","price_aprox_usd"]]

In [20]:
subset

           price currency  price_aprox_local_currency  price_aprox_usd
0        62000.0      USD                  1093959.00          62000.0
1       150000.0      USD                  2646675.00         150000.0
2        72000.0      USD                  1270404.00          72000.0
3        95000.0      USD                  1676227.50          95000.0
4        64000.0      USD                  1129248.00          64000.0
...          ...      ...                         ...              ...
121215  870000.0      USD                 15350715.00         870000.0
121216  498000.0      USD                  8786961.00         498000.0
121217  131500.0      USD                  2320251.75         131500.0
121218   95900.0      USD                  1692107.55          95900.0
121219  129000.0      USD                  2276140.50         129000.0

[121220 rows x 4 columns]

In [28]:
subset["price"].isna().sum()

20410

In [29]:
subset["currency"].isna().sum()

20411

In [30]:
subset["price_aprox_local_currency"].isna().sum()

20410

In [32]:
subset[subset.currency.isna()]

        price currency  price_aprox_local_currency  price_aprox_usd
5         NaN      NaN                         NaN              NaN
20        NaN      NaN                         NaN              NaN
41        NaN      NaN                         NaN              NaN
62        NaN      NaN                         NaN              NaN
67        NaN      NaN                         NaN              NaN
...       ...      ...                         ...              ...
121210    NaN      NaN                         NaN              NaN
121211    NaN      NaN                         NaN              NaN
121212    NaN      NaN                         NaN              NaN
121213    NaN      NaN                         NaN              NaN
121214    NaN      NaN                         NaN              NaN

[20411 rows x 4 columns]

In [36]:
data[data.currency.isna()].head(5)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
5,5,sell,house,Gualeguaychú,|Argentina|Entre Ríos|Gualeguaychú|,Argentina,Entre Ríos,3433657.0,"-33.0140714,-58.519828",-33.014071,-58.519828,NaN,NaN,NaN,NaN,53.0,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bop_venta_depart...,"Casa en el perímetro del barrio 338, ubicada e...","Casa Barrio 338. Sobre calle 3 de caballería, ...",https://thumbs4.properati.com/6/q-w68gvaUEQVXI...
20,20,sell,house,Villa Giardino,|Argentina|Córdoba|Villa Giardino|,Argentina,Córdoba,3832729.0,"-31.0529852,-64.4991278",-31.052985,-64.499128,NaN,NaN,NaN,NaN,148.0,148.0,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bqb_venta_casa_v...,"Consta de: Comedor-cocina, cuatro dormitorios ...","Casa con excelente ubicaciòn, calle asfaltada,...",https://thumbs4.properati.com/1/9Z3PZS2TK7olUo...
41,41,sell,apartment,Villa Carlos Paz,|Argentina|Córdoba|Villa Carlos Paz|,Argentina,Córdoba,3832791.0,"-31.4009989,-64.4780258",-31.400999,-64.478026,NaN,NaN,NaN,NaN,115.0,115.0,NaN,NaN,NaN,4.0,NaN,http://www.properati.com.ar/15bta_venta_depart...,“Arecas” es un complejo de dúplex y departamen...,Venta en pozo deptos-dúplex- Barrio Santa Rita...,https://thumbs4.properati.com/7/EV8UVQgLFQCAxr...
62,62,sell,house,Berazategui,|Argentina|Bs.As. G.B.A. Zona Sur|Berazategui|,Argentina,Bs.As. G.B.A. Zona Sur,3436042.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,156.0,156.0,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bvu_venta_casa_b...,Casa moderna en dos plantas.PB : Living con ho...,MODERNA CASA EN OMBUES DE HUDSON,https://thumbs4.properati.com/7/a8Qmcv66lP2cTc...
67,67,sell,house,Ituzaingó,|Argentina|Bs.As. G.B.A. Zona Oeste|Ituzaingó|,Argentina,Bs.As. G.B.A. Zona Oeste,3433359.0,"-34.6422298,-58.7031296",-34.642230,-58.703130,NaN,NaN,NaN,NaN,220.0,NaN,NaN,NaN,NaN,5.0,NaN,http://www.properati.com.ar/15bwz_venta_casa_i...,PLANTA ALTA: DORMITORIO EN SUITE - BALCÓNPLANT...,Chalet en Venta. Ambientes. Dormitorios. 220 m2,https://thumbs4.properati.com/6/cQAGKCZCYDfOgz...

In [47]:
data[data.currency.isna()][["price_usd_per_m2","surface_covered_in_m2","surface_total_in_m2"]]

        price_usd_per_m2  surface_covered_in_m2  surface_total_in_m2
5                    NaN                    NaN                 53.0
20                   NaN                  148.0                148.0
41                   NaN                  115.0                115.0
62                   NaN                  156.0                156.0
67                   NaN                    NaN                220.0
...                  ...                    ...                  ...
121210               NaN                  120.0                  NaN
121211               NaN                  205.0                205.0
121212               NaN                  420.0                420.0
121213               NaN                  600.0                600.0
121214               NaN                  123.0                123.0

[20411 rows x 3 columns]

In [49]:
data[data.currency.isna()]["price_usd_per_m2"].isna().sum()

20411

In [37]:
data["price_usd_per_m2"].value_counts()

2000.000000    574
2500.000000    447
1000.000000    397
1500.000000    391
1666.666667    373
              ...
248.062016       1
2645.410256      1
316.205534       1
1617.161716      1
3047.486111      1
Name: price_usd_per_m2, Length: 25567, dtype: int64

In [44]:
a = data[data.price_usd_per_m2 == 2000.000000][["country_name", "state_name"]]

In [46]:
a["state_name"].value_counts()

Capital Federal                 174
Bs.As. G.B.A. Zona Norte        110
Buenos Aires Costa Atlántica    101
Bs.As. G.B.A. Zona Sur          100
Bs.As. G.B.A. Zona Oeste         51
Córdoba                          16
Santa Fe                          9
Buenos Aires Interior             7
Río Negro                         3
Chubut                            2
Corrientes                        1
Name: state_name, dtype: int64