In [114]:
import pandas as pd
import numpy as np
from IPython.display import display
data = pd.read_csv('properatti.csv', dtype={'all': str})

#### Armo un subset sólo con las columnas 'place_name' y 'lat'

In [115]:
DataLat=data[['place_name', 'lat']]
DataLat

             place_name        lat
0             Mataderos -34.661824
1              La Plata -34.903883
2             Mataderos -34.652262
3               Liniers -34.647797
4                Centro -38.002626
...                 ...        ...
121215         Belgrano        NaN
121216           Beccar        NaN
121217    Villa Urquiza -34.570639
121218      Plaza Colón        NaN
121219  Capital Federal        NaN

[121220 rows x 2 columns]

#### Armo un subset con las mismas dos columnas, pero me quedo solo con los valores de 'lat' completos

In [116]:
DataLatNotNan=DataLat.dropna()
DataLatNotNan

           place_name        lat
0           Mataderos -34.661824
1            La Plata -34.903883
2           Mataderos -34.652262
3             Liniers -34.647797
4              Centro -38.002626
...               ...        ...
121153   Barrio Norte -34.599214
121158       Recoleta -34.587425
121160       Belgrano -34.563685
121209       Belgrano -34.563685
121217  Villa Urquiza -34.570639

[69647 rows x 2 columns]

#### Saco la media de las 'lat' por grupo de valores de la columna 'place_name'
#### Por ejemplo toma toda la localidad Abasto con lat NotNaN y promedia su valor de Latitud

In [117]:
MediaLatbyLoc=DataLatNotNan.groupby(['place_name']).mean()
MediaLatbyLoc

                               lat
place_name
 Country Maschwitz Club -34.377707
 los alamos             -34.423989
9 de Abril              -34.756258
Abasto                  -34.639208
Abril Club de Campo     -34.814314
...                            ...
William Morris          -34.581910
Yerba Buena             -26.813039
Zelaya                  -35.053791
Zárate                  -34.096436
coordenadas 34.255511   -34.428485

[959 rows x 1 columns]

#### Armo un subset sólo con las columnas 'place_name' y 'lon'

In [118]:
DataLon=data[['place_name', 'lon']]
DataLon

             place_name        lon
0             Mataderos -58.508839
1              La Plata -57.964330
2             Mataderos -58.522982
3               Liniers -58.516424
4                Centro -57.549447
...                 ...        ...
121215         Belgrano        NaN
121216           Beccar        NaN
121217    Villa Urquiza -58.475596
121218      Plaza Colón        NaN
121219  Capital Federal        NaN

[121220 rows x 2 columns]

#### Armo un subset con las mismas dos columnas, pero me quedo solo con los valores de 'lon' completos

In [119]:
DataLonNotNan=DataLon.dropna()
DataLonNotNan

           place_name        lon
0           Mataderos -58.508839
1            La Plata -57.964330
2           Mataderos -58.522982
3             Liniers -58.516424
4              Centro -57.549447
...               ...        ...
121153   Barrio Norte -58.402519
121158       Recoleta -58.397372
121160       Belgrano -58.442683
121209       Belgrano -58.442683
121217  Villa Urquiza -58.475596

[69647 rows x 2 columns]

#### Saco la media de las 'lon' por grupo de valores de la columna 'place_name'
#### Por ejemplo toma toda la localidad Abasto con lon NotNaN y promedia su valor de Longitud

In [120]:
MediaLonbyLoc=DataLonNotNan.groupby(['place_name']).mean()
MediaLonbyLoc

                               lon
place_name
 Country Maschwitz Club -58.755411
 los alamos             -58.601876
9 de Abril              -58.498288
Abasto                  -58.380827
Abril Club de Campo     -58.156066
...                            ...
William Morris          -58.655338
Yerba Buena             -65.294461
Zelaya                  -59.660925
Zárate                  -59.067763
coordenadas 34.255511   -58.601717

[959 rows x 1 columns]

#### Armo un dataframe nuevo con método merge para unir las columnas 'lat' y 'lon'

In [121]:
dflatlon=pd.merge(MediaLatbyLoc, MediaLonbyLoc, left_on='place_name', right_on='place_name')
dflatlon

                               lat        lon
place_name
 Country Maschwitz Club -34.377707 -58.755411
 los alamos             -34.423989 -58.601876
9 de Abril              -34.756258 -58.498288
Abasto                  -34.639208 -58.380827
Abril Club de Campo     -34.814314 -58.156066
...                            ...        ...
William Morris          -34.581910 -58.655338
Yerba Buena             -26.813039 -65.294461
Zelaya                  -35.053791 -59.660925
Zárate                  -34.096436 -59.067763
coordenadas 34.255511   -34.428485 -58.601717

[959 rows x 2 columns]

#### Reindexamos para place_name vuelva a ser una variable

In [122]:
dflatlon.reset_index(inplace=True)
dflatlon

                  place_name        lat        lon
0     Country Maschwitz Club -34.377707 -58.755411
1                 los alamos -34.423989 -58.601876
2                 9 de Abril -34.756258 -58.498288
3                     Abasto -34.639208 -58.380827
4        Abril Club de Campo -34.814314 -58.156066
..                       ...        ...        ...
954           William Morris -34.581910 -58.655338
955              Yerba Buena -26.813039 -65.294461
956                   Zelaya -35.053791 -59.660925
957                   Zárate -34.096436 -59.067763
958    coordenadas 34.255511 -34.428485 -58.601717

[959 rows x 3 columns]

In [125]:
#### Uno el dataframe con las 'lat' y las 'lon' que promedié junto con el data original

In [123]:
NuevoDF=pd.merge(dflatlon,data, left_on='place_name', right_on='place_name')
NuevoDF

,place_name,lat_x,lon_x,Unnamed: 0,operation,property_type,place_with_parent_names,country_name,state_name,geonames_id,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,Country Maschwitz Club,-34.377707,-58.755411,33586,sell,house,|Argentina|Bs.As. G.B.A. Zona Norte|Escobar| C...,Argentina,Bs.As. G.B.A. Zona Norte,NaN,...,260.0,1066.666667,1230.769231,NaN,NaN,NaN,http://www.properati.com.ar/189n8_venta_casa_c...,"Casa en Club Maschwitz, ubicada en lote centra...",Hermosa Casa en venta en Maschwitz Country Club,https://thumbs4.properati.com/3/LpLOUWch2jetv0...
1,Country Maschwitz Club,-34.377707,-58.755411,42404,sell,house,|Argentina|Bs.As. G.B.A. Zona Norte|Escobar| C...,Argentina,Bs.As. G.B.A. Zona Norte,NaN,...,225.0,1673.306773,1866.666667,NaN,NaN,NaN,http://www.properati.com.ar/18wcg_venta_casa_c...,Casa tradicional en 2 plantas al lago!! Excele...,excelente casa al lago desarrollada en 2 plantas,https://thumbs4.properati.com/3/R4Dof1qWGgXSTX...
2,Country Maschwitz Club,-34.377707,-58.755411,45159,sell,house,|Argentina|Bs.As. G.B.A. Zona Norte|Escobar| C...,Argentina,Bs.As. G.B.A. Zona Norte,NaN,...,240.0,NaN,812.500000,9.0,4.0,NaN,http://www.properati.com.ar/193bm_venta_casa_c...,Corredor Responsable: Luis Alberto De Blas - C...,CASA EN DOS PLANTAS MASCHWITZ CLUB,https://thumbs4.properati.com/7/_wUzTn01wU5nTb...
3,los alamos,-34.423989,-58.601876,23730,sell,apartment,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre| los...,Argentina,Bs.As. G.B.A. Zona Norte,NaN,...,41.0,1600.000000,1990.243902,NaN,1.0,1500.0,http://www.properati.com.ar/17mh1_venta_depart...,"DPTO 2 AMB CON BALCON Y EN PLANTA BAJA 1 DORM,...",Departamento venta,https://thumbs4.properati.com/1/efoyZSeJn71aT8...
4,9 de Abril,-34.756258,-58.498288,25553,sell,house,|Argentina|Bs.As. G.B.A. Zona Sur|Esteban Eche...,Argentina,Bs.As. G.B.A. Zona Sur,NaN,...,160.0,94.017094,687.500000,NaN,5.0,NaN,http://www.properati.com.ar/17q5x_venta_casa_e...,"VENTA DE EXCELENTE PROPIEDAD EN 9 DE ABRIL, ES...",CASA Y DEPARTAMENTO CON GRAN TERRENO en 9 de A...,https://thumbs4.properati.com/7/7toB3vE6tKHWOU...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120525,Zárate,-34.096436,-59.067763,44245,sell,house,|Argentina|Buenos Aires Interior|Zárate|,Argentina,Buenos Aires Interior,3427212.0,...,27853.0,26.992471,34.107637,NaN,NaN,NaN,http://www.properati.com.ar/1903q_venta_casa_z...,"MagnÃ­fica casa desarrollada en una planta, so...","Casa 35195m² con Plantas, Buenos Aires Interio...",https://thumbs4.properati.com/3/zcGwR8iD6hTg0V...
120526,Zárate,-34.096436,-59.067763,44246,sell,house,|Argentina|Buenos Aires Interior|Zárate|,Argentina,Buenos Aires Interior,3427212.0,...,350.0,2.072029,914.285714,NaN,NaN,NaN,http://www.properati.com.ar/1903r_venta_casa_z...,"LindÃ­sima casa, desarrollada en dos planta, s...","Casa 154438m² con Dependencias, Buenos Aires I...",https://thumbs4.properati.com/0/cI2pDI6rUPrMfP...
120527,Zárate,-34.096436,-59.067763,51905,sell,house,|Argentina|Buenos Aires Interior|Zárate|Zárate|,Argentina,Buenos Aires Interior,NaN,...,290.0,NaN,2241.379310,NaN,4.0,NaN,http://www.properati.com.ar/19i2f_venta_casa_z...,Corredor Responsable: Daniel Acosta - CSI 5953...,CASA EN EXCEPCIONAL TERRENO BARRIO NORTE DE ZA...,https://thumbs4.properati.com/3/ZddCXOcOWAg2Ot...
120528,Zárate,-34.096436,-59.067763,60692,sell,house,|Argentina|Buenos Aires Interior|Zárate|Zárate|,Argentina,Buenos Aires Interior,NaN,...,177.0,NaN,1355.932203,NaN,4.0,NaN,http://www.properati.com.ar/1a43d_venta_casa_z...,Corredor Responsable: Mauro Marvisi - CMCPSI 5...,"ESTANCIA EL ADUAR DIVINA CASA, Lote 153 BARRAN...",https://thumbs4.properati.com/2/R4u9qz8HRc_DZ0...
120529,coordenadas 34.255511,-34.428485,-58.601717,7367,sell,house,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|coor...,Argentina,Bs.As. G.B.A. Zona Norte,NaN,...,239.0,1943.462898,2301.255230,NaN,NaN,NaN,http://www.properati.com.ar/15xo4_venta_casa_c...,PLANTA BAJA: Hall y toilette de recepción. Liv...,Hermosa casa sobre la laguna en Los Ombues,https://thumbs4.properati.com/6/RN1XpmMmqDz7b6...

#### Se sumaron 690 filas y no sé como eliminarlas, tampoco las sé diferenciar

In [124]:
len(data)-len(NuevoDF)

690