Diego:

place_with_parent_names

place_name

country_name

state_name

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(R'C:\Users\usuario\Documents\Data Science DH\Desafio1\properatti.csv')

In [3]:
df.shape

(121220, 26)

Se calculan los valores faltantes de las columnas asignadas

In [4]:
df[['place_with_parent_names', 'place_name','country_name','state_name']].isnull().sum()

place_with_parent_names     0
place_name                 23
country_name                0
state_name                  0
dtype: int64

Solo faltan 23 valores en la columna 'place_name' (información de barrio, zona, ciudad, etc.) que se intentarán obtener del la columna 'place_with_parent_names'.

In [5]:
pd.set_option('display.max_colwidth', -1)

In [6]:
df[['place_with_parent_names', 'place_name','country_name','state_name']]

,place_with_parent_names,place_name,country_name,state_name
0,|Argentina|Capital Federal|Mataderos|,Mataderos,Argentina,Capital Federal
1,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,La Plata,Argentina,Bs.As. G.B.A. Zona Sur
2,|Argentina|Capital Federal|Mataderos|,Mataderos,Argentina,Capital Federal
3,|Argentina|Capital Federal|Liniers|,Liniers,Argentina,Capital Federal
4,|Argentina|Buenos Aires Costa Atlántica|Mar del Plata|Centro|,Centro,Argentina,Buenos Aires Costa Atlántica
...,...,...,...,...
121215,|Argentina|Capital Federal|Belgrano|,Belgrano,Argentina,Capital Federal
121216,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro|Beccar|,Beccar,Argentina,Bs.As. G.B.A. Zona Norte
121217,|Argentina|Capital Federal|Villa Urquiza|,Villa Urquiza,Argentina,Capital Federal
121218,|Argentina|Buenos Aires Costa Atlántica|Mar del Plata|Plaza Colón|,Plaza Colón,Argentina,Buenos Aires Costa Atlántica
121219,|Argentina|Capital Federal|,Capital Federal,Argentina,Capital Federal

Se crea una nueva columna con los valores de la columna 'place_with_parent_names' en forma de lista

In [7]:
def disgrega(valor):
    return valor.strip('|').split('|')

df['lista_auxiliar'] = df['place_with_parent_names'].apply(lambda x: disgrega(x))

In [8]:
df['lista_auxiliar']

0         [Argentina, Capital Federal, Mataderos]
1         [Argentina, Bs.As. G.B.A. Zona Sur, La Plata]
2         [Argentina, Capital Federal, Mataderos]
3         [Argentina, Capital Federal, Liniers]
4         [Argentina, Buenos Aires Costa Atlántica, Mar del Plata, Centro]
                                        ...
121215    [Argentina, Capital Federal, Belgrano]
121216    [Argentina, Bs.As. G.B.A. Zona Norte, San Isidro, Beccar]
121217    [Argentina, Capital Federal, Villa Urquiza]
121218    [Argentina, Buenos Aires Costa Atlántica, Mar del Plata, Plaza Colón]
121219    [Argentina, Capital Federal]
Name: lista_auxiliar, Length: 121220, dtype: object

Se calcula cuantos elementos tiene cada lista

In [9]:
df['conteo'] = df['lista_auxiliar'].apply(lambda x: len(x))
df['conteo']

0         3
1         3
2         3
3         3
4         4
         ..
121215    3
121216    4
121217    3
121218    4
121219    2
Name: conteo, Length: 121220, dtype: int64

Se determina cual es el mayor y menor números de elemntos en un registro de 'place_with_parent_names'

In [10]:
df['conteo'].max()

5

In [11]:
df['conteo'].min()

2

Se necesitarán 5 columnas como máximo para desempacar las distintas jerarquías de las locaciones. Mediante el comando apply se obtienen 5 columnas extras con información del localización por regiones.

In [12]:
def chequeo2(valor):
    if len(valor) > 2:
        return valor[2]
    
    
def chequeo3(valor):
    if len(valor) > 3:
        return valor[3]
    
def chequeo4(valor):
    if len(valor) > 4:
        return valor[4]

df['loc1'] = df['lista_auxiliar'].apply(lambda x: x[0])
df['loc2'] = df['lista_auxiliar'].apply(lambda x: x[1])
df['loc3'] = df['lista_auxiliar'].apply(lambda x: chequeo2(x))
df['loc4'] = df['lista_auxiliar'].apply(lambda x: chequeo3(x))
df['loc5'] = df['lista_auxiliar'].apply(lambda x: chequeo4(x))

In [120]:
daux = df[(df.loc5.notnull())]
daux[['loc1', 'loc2', 'loc3', 'loc4', 'loc5']]

,loc1,loc2,loc3,loc4,loc5
17,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,Nordelta,Barrio El Golf
33,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,Nordelta,Barrio El Golf
278,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,Nordelta,Barrio Las Glorietas
416,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,Nordelta,Barrio Los Lagos
446,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,Nordelta,Barrio Las Glorietas
...,...,...,...,...,...
117011,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,Nordelta,QBay Yacht
118210,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,Nordelta,Barrio Los Lagos
118841,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,Nordelta,Barrio Barrancas del Lago
119583,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,Nordelta,Barrio Barrancas del Lago
120156,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,Nordelta,Barrio Barrancas del Lago